<div ng-show="{{ display.availability }}">
  <h4>Available Timeslots:</h4>
  <div>
    Meeting Room A
    <button ng-click="toggleDisplay('roomA')">Toggle Display</button>
    <ul ng-show="display.roomA">
      <li ng-repeat="(time, isBooked) in timeslots.roomA[dateString]">
        {{ time + ".00"}}
      </li>
    </ul>
  </div>
  <div>
    Meeting Room B
    <button ng-click="toggleDisplay('roomB')">Toggle Display</button>
    <ul ng-show="display.roomB">
      <li ng-repeat="(time, isBooked) in timeslots.roomB[dateString]">
        {{ time + ".00"}}
      </li>
    </ul>
  </div>
  <div>
    Meeting Point Space A
    <button ng-click="toggleDisplay('spaceA')">Toggle Display</button>
    <ul ng-show="display.spaceA">
      <li ng-repeat="(time, isBooked) in timeslots.spaceA[dateString]">
        {{ time + ".00"}}
      </li>
    </ul>
  </div>
  <div>
    Meeting Point Space B
    <button ng-click="toggleDisplay('spaceB')">Toggle Display</button>
    <ul ng-show="display.spaceB">
      <li ng-repeat="(time, isBooked) in timeslots.spaceB[dateString]">
        {{ time + ".00"}}
      </li>
    </ul>
  </div>
  <div>
    Full (Space A + B)
    <ul>
    </ul>
  </div>
  <div>
    Basketball Court
    <button ng-click="toggleDisplay('court')">Toggle Display</button>
    <ul ng-show="display.court">
      <li ng-repeat="(time, isBooked) in timeslots.court[dateString]">
        {{ time + ".00"}}
      </li>
    </ul>
  </div>
</div>